#body_wrapper {
  background-color: $grey-color-light;
  padding: 20px;
}

.main_block {
  overflow: hidden;
  // background-color: $grey-color-light;
  // padding: 20px;
  margin: 0;

}

#more_block {
  overflow: hidden;
  // background-color: $grey-color-light;
  // padding: 20px;
  margin:0;
}

.option_wrapper {
  padding: 0;
  margin: 0;
}

.option_button {
  // -webkit-appearance: button;
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  width: 46%;
  height: 100%;
  text-align: center;
}

.first {
  background-color: #184059;
  margin: 0 2%;
}

.second {
  background-color: #8C3534;
  margin: 0 2%;
}

.option_button_link {
  display: block;
  // text-align: center;
  padding: 10px;
  height: 100%;
}

.option_button > a {
  color: #ffffff;
}

#start_over {
  display: block;
  clear: both;
}

#more_block, #more_text, #less_link {
  display: none;
}